<form autocomplete="off" #todoForm="ngForm"
>

  <div class="todoItem">
    <input placeholder="Add new task..." [(ngModel)]="selectedTODO.title" class="form-control" name="title"
           style="width: 100%; border:grey solid 1px; height: 30px; padding: inherit; text-indent: 10px;" required="true">
    <div class="title">
      Description
    </div>
    <textarea class="descriptionArea form-control" [(ngModel)]="selectedTODO.description"
              name="description">
  </textarea>
    <div class="w100 flex">
      <div class="dueDate">
        <div class="title">
          Due Date
        </div>
        <input type="date" [ngModel]="selectedTODO.dueDate | date: 'yyyy-MM-dd'"
               (ngModelChange)="selectedTODO.dueDate = dateChanged($event)" class="form-control w100 inputDueDate"
               name="dueDate">
      </div>
      <div class="piority">
        <div class="title">
          Piority
        </div>
        <select [(ngModel)]="selectedTODO.piority" class="form-control w100 inputPiority" name="piority">
          <option value="Low">
            Low
          </option>
          <option selected value="Normal">
            Normal
          </option>
          <option value="High">
            High
          </option>
        </select>
      </div>

    </div>
  </div>
  <ng-container *ngIf="btnStatus; then Add; else Save">

  </ng-container>
  <ng-template #Add>
    <button type="submit" (click)="add()" class="btnAdd">
      Add
    </button>
  </ng-template>
  <ng-template #Save>
    <button type="submit" (click)="edit(this.selectedTODO)" class="btnAdd">Save</button>
  </ng-template>


</form>


<!--<pre>{{ todoForm.value | json }}</pre>-->
