<div style="display: flex; border: black solid 1px">
  <div class="contentLeft">
    <div class="titleHeader">New Task</div>
    <app-todo-item (addEvent)="listenEventAdd($event)"></app-todo-item>
  </div>
  <div class="contentRight">
    <div class="titleHeader">To Do List</div>
    <input placeholder="Search..." class="form-control inputSearch" name="title" [(ngModel)]="keySearch"
           required="true" (keydown.enter)="search(keySearch)">
    <div class="listItemTODO">
      <div *ngFor="let item of toDoList$; let i = index" class="eachItemTODO">
        <div class="ItemTODO">
          <div class="styleCheckBox">
            <label>
              <input type='checkbox' (click)="addListSelected($event,item)">
              <span></span>

            </label>
<!--            <input type="checkbox" (change)="addListSelected($event,item)">-->
          </div>
          <div class="titleEachItem">{{item.title}}</div>
          <button (click)=" details[i]=!details[i]" class="btnDetail">Details</button>

          <button class="btnRemove" (click)="deleteItem(item)">Remove</button>
        </div>

        <div *ngIf="details[i]" class="detailAreaItem">

          <app-todo-item [TODOItem]="item"></app-todo-item>
        </div>
      </div>
    </div>
    <div *ngIf="listSelected.length>0" class="footerRight">

      <div class="titleBuckAction">Buck Action</div>
      <button
        class="btnDone"
      >Done
      </button>

      <button class="btnRemove" style="margin: auto" (click)="deleteMultiItem(listSelected)">Remove</button>
    </div>

  </div>
</div>
